<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hola mundo con Vue.js</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <!-- <div id="app">
        <h1>{{titulo}}</h1>
        <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">
        <button @click="agregarFruta">Agregar</button>
        <ul>            
            <li v-for="fruta of frutas">
                <input type="numnber" v-model.number="fruta.cantidad">
                {{fruta.nombre}}
                <button @click='fruta.cantidad++'>+</button>
                <span v-if="fruta.cantidad === 0"> - Sin stock</span>
            </li>
        </ul>
        <h4>Total: {{sumarFrutas}}</h4>
    </div> -->
    <!-- development version, includes helpful console warnings -->
        <!-- app 04 -->
    <!-- <div id="app" class="container mt-5">
        <div :class="['p-3', 'text-white', fondo]">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe obcaecati voluptatum vitae voluptas accusamus sunt deserunt, magni sint labore, similique quos unde velit? Ipsum blanditiis deleniti id ut exercitationem eius.
            </p>    
        </div>
        <input type="text" class="form-control my-3" v-model="fondo">

        <div class="text-white p-3" :class="{'bg-info': color, 'bg-success': !color}">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe obcaecati voluptatum vitae voluptas accusamus sunt deserunt, magni sint labore, similique quos unde velit? Ipsum blanditiis deleniti id ut exercitationem eius.
            </p>    
        </div>
        <button class="btn btn-primary" @click="color = !color ">Cambiar</button>

    </div> -->
    
    <!-- CRUD CON VUE JS -->
    <div class="container mt-5" id="app">
        <h3>{{titulo}}</h3>

        <input type="text" class="form-control my-3" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea">
        <button class="btn btn-primary" @click="agregarTarea">Agregar</button>

        <div class="mt-3" v-for="(item, index) of tareas">
            <div class="alert alert-success" role="alert">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        {{index}} - {{item.nombre}}-- {{item.estado}}
                    </div>
                    <div>
                        <button class="btn btn-success btn-sm" @click="editarTarea(index)">Ok</button>
                        <button class="btn btn-danger btn-sm">X</button>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="01.js"></script> -->
    <!-- <script src="07.js"></script> -->
    <script src="crud.js"></script>

</body>
</html>